
<ion-content>
    <ion-item class="logo" text-center>
        <ion-label >
            <img src="assets/img/logo.png" alt="Logotipo"> 
        </ion-label>
      </ion-item>

    
          <ion-label class="cadastre">Cadastre-se</ion-label>
     

        <ion-grid>
            <ion-row class="inputStyle">
              <ion-input placeholder="Nome"></ion-input>
            </ion-row>
            <ion-row class="inputStyle">
              <ion-input placeholder="E-mail"></ion-input>
            </ion-row>
            <ion-row class="inputStyle">
              <ion-input placeholder="Senha"></ion-input>
              </ion-row>
        </ion-grid>
        <ion-button class="teste">Entrar</ion-button>
</ion-content>
