
<ion-content padding class="loginPage" scroll="false">
    <ion-item class="logo" text-center>
        <ion-label >
            <img src="assets/img/logo.png" alt="Logotipo"> 
        </ion-label>
      </ion-item>
        <ion-grid>
            <ion-row class="inputStyle">
              <ion-input placeholder="Digite seu Nome"></ion-input>
            </ion-row>
            <ion-row class="inputStyle">
              <ion-input placeholder="Informe seu E-mail"></ion-input>
            </ion-row>
            <ion-row class="inputStyle">
              <ion-input placeholder="Crie uma Senha"></ion-input>
              </ion-row>
              <ion-row class="inputStyle">
              <ion-input placeholder="Confirme a senha"></ion-input>
              </ion-row>
        </ion-grid>
        <ion-button 
      style="margin-top: top 20px" 
      expand="block"
      shape="round" 
        >Cadastre-se
    </ion-button>
</ion-content>
