ion-item.logo{
    margin-top:70px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
ion-label.cadastre{
    margin-left:15px;
   font-weight: bold;
}
.inputStyle{
    margin-top:20px;
    padding-left:5px;
    border-radius:30px;
    background-color: rgb(228, 228, 228);
    ion-input{
        margin-left:9px;
    }
}
ion-button.teste{
    padding-left:5px;
    border-radius:30px;
}
