<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="openLogin()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registre-se</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding scroll="false">
  <div class="logoStyle">
    <img src="assets/img/logo.png" alt="Logotipo">
  </div>
  <ion-grid>
    <ion-row class="inputStyle">
      <ion-input type="text" placeholder="Nome" [(ngModel)]="displayName"></ion-input>
    </ion-row>
    <ion-row class="inputStyle">
      <ion-input type="email" placeholder="E-mail" [(ngModel)]="email"></ion-input>
    </ion-row>
    <ion-row class="inputStyle">
      <ion-input type="password" placeholder="Senha" [(ngModel)]="password"></ion-input>
    </ion-row>
    <ion-row class="inputStyle">
      <ion-input type="password" placeholder="Confirme a Senha" [(ngModel)]="confirmPassword"></ion-input>
    </ion-row>
    <ion-text *ngIf="password.length < 6 ">Senhas deve conter mais de 6 digitos</ion-text>
    <ion-text *ngIf="password != confirmPassword ">Senhas diferentes!</ion-text>
  </ion-grid>
  <ion-button class="salvar"  expand="block" shape="round" [disabled]="password != confirmPassword || password.length <6 " (click)="register()">Salvar</ion-button>
</ion-content>