<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" (click)="openHome()">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding scroll="false">
  <div class="logoStyle">
    <img src="assets/img/logo.png" alt="Logotipo">
  </div>
  <ion-grid>
    <ion-row class="inputStyle">
      <ion-input placeholder="E-mail" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-row>
    <ion-row class="inputStyle">
      <ion-input placeholder="Senha" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-row>
  </ion-grid>

  <ion-button class="fazerLogin"  expand="block" shape="round" (click)="onSubmitLogin()">Fazer login </ion-button>
  <ion-row>
    <ion-col class="label">
      <ion-label>Não tem uma conta ainda? </ion-label>
    </ion-col>
  </ion-row>

  <ion-button class="registre-se" expand="block" shape="round" (click)="openCadastro()"> Crie agora! </ion-button>

  <ion-button class="buttonGoogle" expand="block" shape="round" (click)="loginWithGoogle()">
    <ion-icon class="buttonGoogle" name="logo-google"></ion-icon> Entrar com Google</ion-button>

    <ion-button class="buttonFace" expand="block" shape="round" (click)="loginWithFace()">
        <ion-icon class="buttonFace" name="logo-facebook"></ion-icon> Entrar com Facebook</ion-button>

</ion-content>