<ion-content padding class="loginPage" scroll="false">
  <form>
    <ion-item text-center class="logoStyle">
      <ion-label>
        <img src="assets/img/logo.png" alt="Logotipo">
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row class="inputStyle">
        <ion-input placeholder="E-mail" type="email"></ion-input>
      </ion-row>
      <ion-row class="inputStyle">
        <ion-input placeholder="Senha" type="password"></ion-input>
      </ion-row>
    </ion-grid>
    <ion-button 
      style="margin-top: top 20px" 
      expand="block"
      shape="round" 
      (click)="registrar()"
    >Entrar
    </ion-button>
    <ion-item text-center>
        <ion-label class="text1">Criar uma conta</ion-label>    
    </ion-item>  
      
  </form>
</ion-content>