<ion-content padding class="loginPage" scroll="false">
  <form>
    <ion-item text-center class="logoStyle">
      <ion-label>
        <img src="assets/img/logo.png" alt="Logotipo">
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row class="inputStyle">
        <ion-input placeholder="E-mail" type="email" [(ngModel)] = 'email'></ion-input>
      </ion-row>
      <ion-row class="inputStyle">
        <ion-input placeholder="Senha" type="password" [(ngModel)] = 'password'></ion-input>
      </ion-row>
    </ion-grid>
    <ion-button 
      style="margin-top: top 20px" 
      expand="block"
      shape="round" 
      (click)="onSubmitLogin()"
    >Entrar
    </ion-button>
    <ion-item text-center>
         
          <span class="criarconta" routerLink="/cadastro">Criar uma conta</span>
          
  
    </ion-item>  
    <ion-icon slot="start" name="add"></ion-icon>
      
  </form>
</ion-content>