<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="openHome()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalhe da receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding >
    <ion-card *ngFor= "let receita of receitas" lines="inset" 
    button [routerLink]="['/detalhe-receita',receita.id]">

        <ion-item>
          <ion-row>
            <ion-col>

            </ion-col>
            <ion-col >
              <h1 >{{produto.titulo}}</h1>

            </ion-col>
          </ion-row>
        </ion-item>
    </ion-card>
</ion-content>