<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="openHome()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro de receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding scroll="false">
  <div>
    <ion-input [(ngModel)]="receita.nome" type="text" placeholder="Nome da receita"></ion-input>
  </div>
  <div>
    <ion-button (click)="takePicture()" expand="block" shape="round">Adicionar imagem</ion-button>
    <img [(ngModel)]="receita.imagem" class="imgReceita" [src]="currentImage" *ngIf="currentImage">
  </div>
  <div>
    <ion-label>Tempo de preparo:</ion-label>
  </div>
  <div>
    <ion-item lines="none">
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="receita.tempoPreparo"></ion-datetime>
    </ion-item>
  </div>
  <div>
    <ion-label>Ingredientes</ion-label>
  </div>
  <div>
    <ion-textarea [(ngModel)]="receita.ingredientes" rows="5" placeholder="Digite os ingredientes aqui...">
    </ion-textarea>
  </div>
  <div>
    <ion-label>Modo de preparo</ion-label>
  </div>
  <div>
    <ion-textarea [(ngModel)]="receita.modoPreparo" rows="5" placeholder="Digite o modo de preparo aqui...">
    </ion-textarea>
  </div>
  <div>
    <ion-button (click)="add()" expand="block" shape="round">salvar receita</ion-button>
  </div>
</ion-content>