<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="openHome()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro de receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding scroll="false">
  <ion-grid>
    <ion-row>
      <ion-input [(ngModel)]="receita.nome" type="text" placeholder="Nome da receita"></ion-input>
    </ion-row>
    <ion-button expand="block" shape="round">adicionar imagem</ion-button>
    <ion-row>
      <ion-item lines="none">
        <ion-label class="labelF2">Tempo de preparo:</ion-label>
        <ion-datetime class="tempoPreparo" displayFormat="HH:mm" [(ngModel)]="receita.tempoPreparo"></ion-datetime>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-label class="labelF1">Ingredientes</ion-label>
    </ion-row>
    <ion-row>
      <ion-textarea [(ngModel)]="receita.ingredientes" rows="5" placeholder="Digite os ingredientes aqui...">
      </ion-textarea>
    </ion-row>
    <ion-row>
      <ion-label class="labelF1">Modo de preparo</ion-label>
    </ion-row>
    <ion-row>
      <ion-textarea [(ngModel)]="receita.modoPreparo" rows="5" placeholder="Digite o modo de preparo aqui...">
      </ion-textarea>
    </ion-row>
    <ion-button (click)="add()" expand="block" shape="round">salvar receita</ion-button>
  </ion-grid>
</ion-content>