//Campos Input(email,senha)
ion-input {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #ff4500;
    font-size: 15px;
  }
ion-label{
    --color: #ff4500;
}

ion-textarea.ingredientes{
    --background: #444444; 
}
