//Botão Sair
ion-button.sair{
--background:#fff;
--color:#ff4500;
--box-shadow: none;
--border-radius: 30px;
text-transform: initial;
font-size: 15px;
width: 50px;
height: 30px;
}
ion-button.sair:hover {
    --background: #ff8052;
    --color: #fff
  }

  //Logotipo
.logoStyle img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 200px;
    min-height: 115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
//Campo Busca
ion-input {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #fcfcfc;
    font-size: 15px;
  }
  //Botão Buscar
ion-button.buscar {
    --background: #ff4500;
    --color: #fff;
    --box-shadow: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: initial;
    font-size: 15px;
  }
  ion-button.buscar:hover {
    --background: #ff8052;
  }