<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding scroll="false">
  <div class="logoStyle">
    <img src="assets/img/logo.png" alt="Logotipo">
  </div>
  <ion-grid>
    <ion-row class="inputStyle">
      <ion-input placeholder="Digite os ingredientes separados por virgula" type="text">
      </ion-input>
    </ion-row>
  </ion-grid>

  <ion-button class="buscar" expand="block" shape="round"> Buscar </ion-button>

  <ion-item>
    <a routerLink="/cadastro">Cadastre-se</a>
  </ion-item>
  <ion-item>
    <a routerLink="/cadastro-receita">Cadastro Receita</a>
  </ion-item>
  <ion-item>
    <a routerLink="/detalhe-receita">Detalhe Receita</a>
  </ion-item>
  <ion-item>
    <a routerLink="/receitas">'ceitas</a>
  </ion-item>


</ion-content>